<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <filter>
    <description>
		</description>
    <display-name>
		PriFilter</display-name>
    <filter-name>PriFilter</filter-name>
    <filter-class>servlet.PriFilter</filter-class>
  </filter>
  <filter>
    <description>
		</description>
    <display-name>
		RequestFilter</display-name>
    <filter-name>RequestFilter</filter-name>
    <filter-class>servlet.RequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PriFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.SessionListener</listener-class>
  </listener>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ADD2CART</servlet-name>
    <servlet-class>servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>newOrder</servlet-name>
    <servlet-class>servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchBook</servlet-name>
    <servlet-class>servlet.SearchAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ADD2CART</servlet-name>
    <url-pattern>/servlet/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newOrder</servlet-name>
    <url-pattern>/servlet/OrderServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>searchBook</servlet-name>
    <url-pattern>/servlet/SearchAction</url-pattern>
  </servlet-mapping>
</web-app>